/* Grundläggande stilar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 50px; /* Justera detta värde enligt headerns höjd */
}

header {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px 0;

    width: 100%;
    z-index: 1000;
}

nav {
    
    top: 130px; /* Justera detta värde enligt headerns höjd */
    width: 100%;
    background-color: #444;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.5s;
}

nav ul li a:hover {
    background-color: #020448;
}

#about,
#priorities,
#contact {
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 20px;
}

footer {
    background-color: #00004b;
    color: rgb(227, 218, 218);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Stil för scrollbar */
#work-info {
    max-height: 400px; /* Definiera maxhöjden för scrollning */
    overflow-y: auto; /* Tillåt vertikal scrollning vid behov */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 20px;
}

/* Stilar för kontaktinformation */
#contact-info {
    padding: 20px;
}

#contact-info p {
    margin: 20px 0;
}

/* Tillägg för stilrent mönster och vattenbakgrund */
body {
    background: linear-gradient(to bottom, #c9e4ff, #ffffff);
}

#about,
#priorities,
#contact {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    background-color: #333;
    border-radius: 5px;
    padding: 5px;
}

nav ul li {
    margin-right: 8px;
}

nav ul li a {
    padding: 8px 12px;
    border-radius: 3px;
}

nav ul li a:hover {
    background-color: #555;
}
